@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /* Prevent content from overflowing */
}

.bg-image {
  position: relative;
  min-height: 100vh;
  /* Set the minimum height to cover the entire viewport */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* Center content vertically */
  align-items: center;
  /* Center content horizontally */
}

.bg-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/bg.png');
  background-size: cover;
  background-position:initial;
  filter: blur(10px) brightness(60%);
  /* Apply the blur effect to the pseudo-element */
  z-index: -1;
  /* Place the pseudo-element behind the content */
}

/* Add more styles for your content as needed */